{% load static %}
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title text-center text-primary text-uppercase">Наші Квартити</h6>
                    <h1 class="mb-5">Детальний перегляд <span class="text-primary text-uppercase">квартир</span></h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="room-item shadow rounded overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="{% static 'img/apartments/1/1.jpg' %}" alt="">
                                <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">2.100 USD</small>
                            </div>
                            <div class="p-4 mt-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mb-0">Барбюса Анри, 28а</h5>
                                    <div class="ps-2">
                                        <small>ЖК</small>
                                        <small class="text-primary">Кардинал</small>
                                    </div>
                                </div>
                                <div class="d-flex mb-3">
                                    <small class="border-end me-3 pe-3"><i class="fa fa-object-group text-primary me-2"></i>Площа 117</small>
                                    <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>Кімната 3</small>
                                    <small><i class="fa fa-building text-primary me-2"></i>Поверх 6/12</small>
                                </div>
                                <p class="text-body mb-3">Пропонується дизайнерська квартира в оренду в ЖК бізнес класу Кардинал. Квартира VIP рівня. До війни в квартирі жив посол Іспанії.</p>
                                <div class="d-flex justify-content-between">
                                    <a class="btn btn-sm btn-primary rounded py-2 px-4" href="/apartment_1">Деталі</a>
                                    <a class="btn btn-sm btn-dark rounded py-2 px-4" href="/orders">Бронювання   </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="room-item shadow rounded overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="{% static 'img/apartments/2/0.jpeg' %}" alt="" >
                                <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">800 USD</small>
                            </div>
                            <div class="p-4 mt-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mb-0">Мишуги, 1/4</h5>
                                    <div class="ps-2">
                                        <small>р-н</small>
                                        <small class="text-primary">Дарницький</small>
                                    </div>
                                </div>
                                <div class="d-flex mb-3">
                                    <small class="border-end me-3 pe-3"><i class="fa fa-object-group text-primary me-2"></i>Площа 70</small>
                                    <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>Кімната 3</small>
                                    <small><i class="fa fa-building text-primary me-2"></i>Поверх 5/16</small>
                                </div>
                                <p class="text-body mb-3">Пропонується квартира: 3-кімнатна квартира біля метро Позняки (5 хвилин пішки), вул. Мишуги 1/4.Загальна площа: 70 кв.Поверх: 5 з 16.</p>
                                <div class="d-flex justify-content-between">
                                    <a class="btn btn-sm btn-primary rounded py-2 px-4" href="/apartment_2">Деталі</a>
                                    <a class="btn btn-sm btn-dark rounded py-2 px-4" href="/orders2">Бронювання   </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="room-item shadow rounded overflow-hidden">
                            <div class="position-relative">
                                <img class="img-fluid" src="{% static 'img/apartments/3/1.jpg' %}" alt="">
                                <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">700 USD</small>
                            </div>
                            <div class="p-4 mt-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mb-0">Юрія Іллєнка, 83</h5>
                                    <div class="ps-2">
                                        <small>ЖК</small>
                                        <small class="text-primary">Розмарін</small>
                                    </div>
                                </div>
                                <div class="d-flex mb-3">
                                    <small class="border-end me-3 pe-3"><i class="fa fa-object-group text-primary me-2"></i>Площа 101</small>
                                    <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>Кімната 3</small>
                                    <small><i class="fa fa-building text-primary me-2"></i>Поверх 7/13</small>
                                </div>
                                <p class="text-body mb-3">Квартира укомплектована всім необхідним для життя. В квартирі 3 кімнати. Загальний стан квартири - Євроремонт. Комісія за послуги 50 % </p>
                                <div class="d-flex justify-content-between">
                                    <a class="btn btn-sm btn-primary rounded py-2 px-4" href="/apartment_3">Деталі</a>
                                    <a class="btn btn-sm btn-dark rounded py-2 px-4" href="/orders3">Бронювання   </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include '_fragments/Newsletter2.html' %}
