{% extends '_layouts/base.html' %}
{% load static %}

{% block content %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
    <link rel="stylesheet" href="style.css">

    {% include '_fragments/Page Header.html' %}

    <section class="gallery">
        <h2 class="title">Gallery</h2>
        <div class="gallery-list">
            <a href="{% static 'img/apartments/2/0.jpeg' %}" class="gallery-item">
                <div class="gallery-item-hover">Перегляд</div>
                <img src="{% static 'img/apartments/2/0.jpeg' %}" alt="alt">
            </a>
            <a href="{% static 'img/apartments/2/1.jpeg' %}" class="gallery-item">
                <div class="gallery-item-hover">Перегляд</div>
                <img src="{% static 'img/apartments/2/1.jpeg' %}" alt="alt">
            </a>
            <a href="{% static 'img/apartments/2/2.jpeg' %}" class="gallery-item">
                <div class="gallery-item-hover">Перегляд</div>
                <img src="{% static 'img/apartments/2/2.jpeg' %}" alt="alt">
            </a>
            <a href="{% static 'img/apartments/2/4.jpeg' %}" class="gallery-item">
                <div class="gallery-item-hover">Перегляд</div>
                <img src="{% static 'img/apartments/2/4.jpeg' %}" alt="alt">
            </a>
            <a href="{% static 'img/apartments/2/5.jpeg' %}" class="gallery-item">
                <div class="gallery-item-hover">Перегляд</div>
                <img src="{% static 'img/apartments/2/5.jpeg' %}" alt="alt">
            </a>
            <a href="{% static 'img/apartments/2/6.jpeg' %}" class="gallery-item">
                <div class="gallery-item-hover">Перегляд</div>
                <img src="{% static 'img/apartments/2/6.jpeg' %}" alt="alt">
            </a>
            <a href="{% static 'img/apartments/2/7.jpeg' %}" class="gallery-item">
                <div class="gallery-item-hover">Перегляд</div>
                <img src="{% static 'img/apartments/2/7.jpeg' %}" alt="alt">
            </a>
            <a href="{% static 'img/apartments/2/8.jpeg' %}" class="gallery-item">
                <div class="gallery-item-hover">Перегляд</div>
                <img src="{% static 'img/apartments/2/8.jpeg' %}" alt="alt">
            </a>
            <a href="{% static 'img/apartments/2/9.jpeg' %}" class="gallery-item">
                <div class="gallery-item-hover">Перегляд</div>
                <img src="{% static 'img/apartments/2/9.jpeg' %}" alt="alt">
            </a>
            <a href="{% static 'img/apartments/2/1.jpeg' %}" class="gallery-item">
                <div class="gallery-item-hover">Перегляд</div>
                <img src="{% static 'img/apartments/2/1.jpeg' %}" alt="alt">
            </a>
            <a href="{% static 'img/apartments/2/10.jpeg' %}" class="gallery-item">
                <div class="gallery-item-hover">Перегляд</div>
                <img src="{% static 'img/apartments/2/10.jpeg' %}" alt="alt">
            </a>
            <a href="{% static 'img/apartments/2/11.jpeg' %}" class="gallery-item">
                <div class="gallery-item-hover">Перегляд</div>
                <img src="{% static 'img/apartments/2/11.jpeg' %}" alt="alt">
            </a>
    </section>
    <div class="p-4 mt-2">
        <h2 class="title">Опис</h2>
       <p >3-кімнатна квартира біля метро Позняки (5 хвилин пішки), вул. Мишуги 1/4.
Загальна площа: 70 кв.
Поверх: 5 з 16.

Планування: 2 окремі кімнати, 1 кімната прохідна (всі дивани розкладаються), з/в роздільна з ванною, кухня зі столовою зоною, балкон засклений.

В наявності побутова техніка: кондиціонер, телевізор, посудомийна машина, духова шафа, варильна поверхня, мікрохвильова піч, великий холодильник.

Доглянуте парадне з консьєржем.
Зручна локація: за 3-5 хвилин від будинку метро Позняки, ТРЦ Паралель з супермаркетом Сільпо та різними кав'ярнями та магазинами.
Поряд метро Харківська, Осокорки, проспект Бажана, вул. Срібнокільська, проспект Григоренка, вул. Гришка, вул. Ващенка, вул. Чавдар.
У пішій доступності від будинку також дитячі садки та школи.

Перегляди можливі у зручний для вас час за попередньою домовленістю.

Можна писати в телеграм: anya_grinishina

Співпрацюю з колегами
Деталі
У квартирі 3 кімнати. Планування кімнат Суміжно-роздільна. Нема газу. Гаряча вода – централізована. Опалення центральне. Загальний стан квартири - Хороший стан. Інтернет дротовий (кабельний). Комісії за послуги 50 %</p>
       <div class="d-flex justify-content-between">
            <a class="btn btn-sm btn-dark rounded py-2 px-4" href="/orders">Бронювання</a>
       </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
    <script>
        $(".gallery-list").magnificPopup({
            delegate: "a",
            type: "image",
            gallery: {
                enabled: true
            }
        });
    </script>

{% include '_fragments/Newsletter.html' %}
{% endblock content %}